<div class="col-7">
  <div class="mb-3">
    <%= link_to "Notifications", notifications_path, class: "fs-4 text-decoration-none text-black fw-semibold" %>
  </div>
  <div id="tweets">
    <% @notifications.each do |notification| %>
      <% if notification.followed_me? %>
        <div>
          <% if notification.actor.avatar.present? %>
            <%= image_tag notification.actor.avatar, size: "48x48", class: "rounded-circle" %>
          <% else %>
            <%= image_tag "user.png", size: "48x48", class: "rounded-circle" %>
          <% end %>
          <p><span class="fw-bold"><%= notification.actor.display_name %></span> followed you </p> 
        </div>
      <% elsif notification.verb.liked_tweet? %>

      <% elsif notification.verb.mentioned_me? %>

      <% end %>
    <% end %>
  </div>
</div>
<div class="col">
  <%= render "shared/hashtag_sidebar" %>
</div>