<div class="col-7">
  <div class="mb-3">
    <%= render "users/profile_section", user: @user %>
    <%= render "users/tweets_collection", tweet_presenters: @tweet_presenters %>
  </div>
</div>
<div class="col">
  <%= render "shared/hashtag_sidebar" %>
</div>

<% if controller_name == "profile" %>
  <!-- Tweet Form Modal -->
  <div class="modal" id="profile-edit-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <button type="button" class="close-modal-btn btn-close mx-0" data-bs-dismiss="modal" aria-label="Close" id="close-modal-btn"></button>
        </div>
        <div class="modal-body">
          <%= form_with model: current_user, url: profile_path, data: { controller: 'tweet-form' }, method: :put, class: "row g-3" do |f| %>
            <div class="col-md-12">
              <%= f.label :username, class: "form-label" %>
              <%= f.text_field :username, class: "form-control" %>
            </div>

            <div class="col-md-12">
              <%= f.label :display_name, class: "form-label" %>
              <%= f.text_field :display_name, class: "form-control" %>
            </div>
            
            <div class="col-md-12">
              <%= f.label :email, class: "form-label" %>
              <%= f.email_field :email, class: "form-control" %>
            </div>

            <div class="col-md-12">
              <%= f.label :password, class: "form-label" %>
              <%= f.password_field :password, class: "form-control" %>
            </div>

            <div class="col-md-12">
              <%= f.label :bio, class: "form-label" %>
              <%= f.text_area :bio, class: "form-control" %>
            </div>

            <div class="input-group col-md-12">
              <%= f.label :avatar, class: "input-group-text" %>
              <%= f.file_field :avatar, class: "form-control" %>
            </div>

            <div class="col-md-12">
              <%= f.label :location, class: "form-label" %>
              <%= f.text_field :location, class: "form-control" %>
            </div>

            <div class="col-md-12">
              <%= f.label :url, class: "form-label" %>
              <%= f.text_field :url, class: "form-control" %>
            </div>

            <div class="col-12">
              <%= f.submit "Update Profile", class: "btn btn-twitter rounded-pill" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
