<aside class="col side-navbar">
  <%= link_to dashboard_path, class: "d-flex align-items-center fs-5 mb-3 px-3" do %>
    <div class="px-2 py-2 rounded-circle">
      <%= image_tag "twitter.png", width: "32" %>
    </div>
  <% end %>

  <%= link_to dashboard_path, class: "d-flex align-items-center fs-5 mb-3" do %>
    <div class="px-4 py-2 rounded-pill">
      <span class="me-4 position-relative" style="bottom: 3px;"><%= image_tag "home.png", width: "32" %></span>
      Home
    </div>
  <% end %>

  <%= link_to dashboard_path, class: "d-flex align-items-center fs-5 mb-3" do %>
    <div class="px-4 py-2 rounded-pill">
      <span class="me-4 position-relative" style="bottom: 3px;"><%= image_tag "hashtag.png", width: "32" %></span>
      Explore
    </div>
  <% end %>

  <%= link_to dashboard_path, class: "d-flex align-items-center fs-5 mb-3" do %>
    <div class="px-4 py-2 rounded-pill">
      <span class="me-4 position-relative" style="bottom: 3px;"><%= image_tag "notifications.png", width: "32" %></span>
      Notifications
    </div>
  <% end %>

  <%= link_to dashboard_path, class: "d-flex align-items-center fs-5 mb-3" do %>
    <div class="px-4 py-2 rounded-pill">
      <span class="me-4 position-relative" style="bottom: 3px;"><%= image_tag "messages.png", width: "32" %></span>
      Messages
    </div>
  <% end %>

  <%= link_to dashboard_path, class: "d-flex align-items-center fs-5 mb-3" do %>
    <div class="px-4 py-2 rounded-pill">
      <span class="me-4 position-relative" style="bottom: 3px;"><%= image_tag "bookmark-white.png", width: "32" %></span>
      Bookmarks
    </div>
  <% end %>

  <%= link_to profile_path, class: "d-flex align-items-center fs-5 mb-4" do %>
    <div class="px-4 py-2 rounded-pill">
      <span class="me-4 position-relative" style="bottom: 3px;"><%= image_tag "profile.png", width: "32" %></span>
      Profile
    </div>
  <% end %>

  <div class="d-flex align-items-center fs-4 mb-3 px-4">
      <%= button_tag "Tweet", class: "btn btn-lg btn-twitter w-100 rounded-pill", data: { "bs-toggle": "modal", "bs-target": "#tweet-modal" } %>
  </div>

  <div class="d-flex align-items-center fs-6 px-4">
    <%= link_to "Log out", destroy_user_session_path, data: { "turbo-method": :delete}, class: "twitter-link" %>
  </div>
</aside>

<!-- Tweet Form Modal -->
<div class="modal" id="tweet-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="btn-close mx-0 close-modal-btn" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "shared/tweet_form", form_submit_path: tweets_path, button_label: "Tweet" %>
      </div>
    </div>
  </div>
</div>