<div class="col-7">
  <div class="mb-3">
    <div class="mb-5">
      <%= link_to :back, class: "fs-4 text-decoration-none text-black fw-semibold" do %>
        <%= image_tag "back-arrow.png", size: "28x28", class: "me-4" %>
        <span style="position: relative; top: 2px;"><%= current_user.username %></span>
        <span class="text-muted fs-6" style="position: relative; top: 2px;"><%= current_user.tweets.size %> Tweets</span>
      <% end %>
    </div>

    <div class="d-flex justify-content-between align-items-center mb-5">
      <div>
        <% if current_user.avatar.present? %>
          <%= image_tag current_user.avatar, class: "rounded-circle", size: "150x150" %>
        <% else %>
          <%= image_tag "user.png", class: "rounded-circle", size: "150x150" %>
        <% end %>
      </div>
      <div><%= button_tag "Edit Profile", data: { "bs-toggle": "modal", "bs-target": "#profile-edit-modal" }, class: "btn btn-outline-twitter rounded-pill" %></div>
    </div>

    <div>
      <p class="fs-3 fw-semibold mb-0"><%= current_user.display_name %></p>
      <p class="text-muted">@<%= current_user.username %></p>
      <p><%= current_user.bio %></p>
      <div class="d-flex justify-content-start mb-3">
        <div class="me-4">
          <%= image_tag "location.png", size: "23x23", class: "me-1" %>
          <span class="text-muted">Location</span>
        </div>
        <div class="me-4">
          <%= image_tag "link.png", size: "23x23", class: "me-1" %>
          <span class="text-muted">URL</span>
        </div>
        <div class="me-4">
          <%= image_tag "calendar.png", size: "23x23", class: "me-1" %>
          <span class="text-muted">Join Date</span>
        </div>
      </div>
      <div class="d-flex justify-content-start">
        <div class="me-4"><span class="fw-semibold">14</span> Following</div>
        <div><span class="fw-semibold">35</span> Followers</div>
      </div>
    </div>
  </div>
</div>
<div class="col">
  Column
</div>

<!-- Tweet Form Modal -->
<div class="modal" id="profile-edit-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="btn-close mx-0" data-bs-dismiss="modal" aria-label="Close" id="close-modal-btn"></button>
      </div>
      <div class="modal-body">
        <%= form_with model: current_user, url: profile_path, method: :put, local: true, class: "row g-3" do |f| %>
          <div class="col-md-12">
            <%= f.label :username, class: "form-label" %>
            <%= f.text_field :username, class: "form-control" %>
          </div>

          <div class="col-md-12">
            <%= f.label :display_name, class: "form-label" %>
            <%= f.text_field :display_name, class: "form-control" %>
          </div>
          
          <div class="col-md-12">
            <%= f.label :email, class: "form-label" %>
            <%= f.email_field :email, class: "form-control" %>
          </div>

          <div class="col-md-12">
            <%= f.label :password, class: "form-label" %>
            <%= f.password_field :password, class: "form-control" %>
          </div>

          <div class="col-md-12">
            <%= f.label :bio, class: "form-label" %>
            <%= f.text_area :bio, class: "form-control" %>
          </div>

          <div class="col-md-12">
            <%= f.label :location, class: "form-label" %>
            <%= f.text_field :location, class: "form-control" %>
          </div>

          <div class="col-md-12">
            <%= f.label :url, class: "form-label" %>
            <%= f.text_field :url, class: "form-control" %>
          </div>

          <div class="col-12">
            <%= f.submit "Update Profile", class: "btn btn-twitter rounded-pill" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
